<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>WebApp</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row bg-dark p-4 text-white">
            <div class="col-auto"><h4>WebApp</h4></div>
            <div class="col"></div>
            <div class="col-auto text-right">
                (Karty)
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>