@model IEnumerable<Product>

@{
    Layout = null;
}

<h3>Products</h3>

<div>
    <div>
        <div class="">Nazwa</div>
        <div>Kategoria</div>
        <div>Cena kupna</div>
        <div>Cena sprzedaży</div>
    </div>

    <form asp-action="AddProduct" method="post">
        <div>
            <div><input name="Name" /></div>
            <div><input name="Category" /></div>
            <div><input name="PurchasePrice" /></div>
            <div><input name="RetailPrice" /></div>
        </div>

        <div>
            <button type="submit" class="">Add</button>
        </div>
    </form>

    @if (Model.Count() == 0)
    {
        <div>
            <div>Brak danych</div>
        </div>
    }
    else
    {
        @foreach(Product prod in Model)
        {
            <div>
                <div>@prod.Name</div>
                <div>@prod.Category</div>
                <div>@prod.PurchasePrice</div>
                <div>@prod.RetailPrice</div>
            </div>
        }
    }
</div>